@import "antd/dist/antd.css";

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  height: 100vh;
  min-height: 600px;
}

.wrapper {
  width: 100%;
  max-width: 900px;
  max-height: 550px;
}

.ant-form-item-label {
  text-align: left;
}
.no-margin-bottom {
  margin-bottom: 0px;
}